:root {
    --primary-color: #FDF6EC;
    --secondary-color: #87c1fa;
    --liner-gradient: linear-gradient(71.9deg, #354c6282 10.77%, #8633332b 92.46%)
}
 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif
}
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%
}
body {
	font-size: 12px;
	color: #424242
}
/*
  AppBar
*/
.header {
	color: #fff;
	background: rgb(163,15,15);	
	background: linear-gradient(90deg, rgba(163,15,15,1) 21%, rgba(215,95,34,1) 87%);
	border-bottom: 1px solid white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	width: 100%;
	z-index: 99;
	position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background: var(--secondary-color);
}
 
.menu {
    font-size: 35px;
    margin: 10px;
    display: block;
    width: 50px;
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    border: none;
}
 
.nav_logo {
    line-height: 24px;
    color: var(--primary-color);
    padding: 0.7rem;
    margin: 0;
}
 
.nav_item,
a,
ul {
    text-decoration: none;
    list-style: none;
    color: var(--primary-color);
}
 
.nav_item {
    box-sizing: border-box;
    line-height: 24px;
    display: inline-block;
}
 
.nav_item a {
    padding: 0.9rem;
    font-size: 1.3em;
}
 
.nav_list {
    width: 100%;
    padding: 0;
    margin: 0;
}
 
.nav a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    padding: 0.7rem;
    font-size: 1.3em;
}
 
/*
  Main Content
*/
 
.hero {
	display: flex;
	margin: auto;
	align-items: center;
	min-height: 80vh;
	width: 100%;
	text-align: center;
	background-size: cover;
	background-position: center;
	/* background-image: linear-gradient(rgba(0, 0, 6, .6), rgba(0, 0, 6, .6)), url("../public/images/heros/hero-image_4.jpg");  */
}

.heroinner {
	margin: 0 auto;
	max-width: 800px
}
.herotitle {
	color: #fff;
	font-weight: 600;
	font-size: 36px;
	text-shadow: 1px 1px #141414
}
 
main {
	width: 100%;
	margin: 0 auto;
	min-height: 90vh;
	padding: 30px;
}
.content {
	padding: 32px
}
.latest {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center
}
.latest h1 {
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 50px
}
.list {
	margin: 32px auto auto;
	text-align: left;
	display: grid;
	grid-row-gap: 16px
}
.list_item {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	position: relative
}
.city {
	position: absolute;
	top: 8px;
	left: 16px;
	border-radius: 5px;
	background-color: #87c1fa;
	padding: 5px 10px 5px;
	color: white;
	font-weight: 500
}
.list_item_content {
	padding: 16px
}
.list_item_thumb {
	width: 100%;
	max-height: 200px
}
.list_item_rating {
	font-size: 12px;
	text-transform: uppercase;
	color: #999;
	font-weight: 500
}
.list_item_rating_value {
	color: red;
	text-decoration: none
}

.list_item_title:hover {
	opacity: 0.5
}
.list_item_title a {
	text-decoration: none;
	color: inherit;
	font-size: 150%;
	font-kerning: normal;
	font-size-adjust: 0.58;
}
.list_item_desc {
	margin-top: -30px;
	font-size: 12px;
	line-height: 1.5em
}
 
/** DETAIL RESTO  */
#mainContent {
	padding-top: 65px;
	/* margin-bottom: 100px; */
}
 
.restaurant {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
}
 
.restaurant-detail__wrapper h4 {
	margin: 0;
}
 
.restaurant-detail__rating {
	margin-right: 15px;
}
 
.restaurant-detail__category {
	border-bottom: 1px solid #87c1fa;
	font-size: 12px;
	padding: 5px 20px;
	color: #87c1fa;
	font-weight: 600;
}
 
.restaurant-detail__thumbnail {
	width: 100%;
}
 
.restaurant-detail__info,
.restaurant-detail__menu-list,
.restaurant-detail__review {
	margin-bottom: 100px;
	padding-bottom: 25px;
}
 
.restaurant-detail__menu-list hr {
	margin-top: 0;
	margin-left: 0;
	width: 90px;
	border-bottom: 1px solid #ce1111 ;
}
 
.restaurant-detail__foods,
.restaurant-detail__drinks {
	color:#000000;
	list-style: none;
	margin: 0 0 30px;
	padding: 0;
}
 
 
.review-container {
	display: grid;
	grid-template-columns: 40px 1fr;
	column-gap: 8px;
	margin-bottom: 20px;
}
 
.customer-avatar {
	font-size: 32px;
	text-align: center;
	align-self: center;
}
 
.customer-review-date {
	font-size: 12px;
	color: #aeaeae;
}
 
.customer-review {
	grid-column-start: 2;
	grid-column-end: 3;
	margin: 5px 0 0;
}
 
/** REVIEW CUSTOMER  */
.review-container {
	display: grid;
	grid-template-columns: 40px 1fr;
	column-gap: 8px;
	margin-bottom: 20px;
}
 
.customer-avatar {
	font-size: 32px;
	text-align: center;
	align-self: center;
}
 
.customer-review-date {
	font-size: 12px;
	color: #aeaeae;
}
 
.customer-review {
	grid-column-start: 2;
	grid-column-end: 3;
	margin: 5px 0 0;
}
 
/** LIKE BUTTON  */
 
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ce1111;
  
  position: fixed;
  bottom: 36px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}
 
.like {
	width: 55px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #db0000;
	
	position: fixed;
	bottom: 16px;
	right: 16px;
	border-radius: 50%;
	border: 0;
	
	font-size: 18px;
	color: white;
	cursor: pointer;
  }
/* footer */
 
 
footer {
	background-color: #87c1fa;
	color: white;
	font-size: 14px;
	padding: 2em;
	width: 100%;
	text-align: center;
}
footer p {
	margin-top: 24px;
	color: #fff;
}
 
/* skip link */
.skip-link {
	position: absolute;
	top: -100px;
	left: 0;
	background-color: #bf1722;
	color: white;
	padding: 10px;
	font-size: 20px;
	z-index: 100;
	text-decoration: none
}
.skip-link:focus {
	top: 100px
}
 
/*
  Button
*/
 
.btn {
	display: inline-block;
	padding: 12px 24px;
	background-color: #19A7CE;
	border: 1px solid #419ebf;
	border-radius: 4px;
   
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
   
	cursor: pointer;
	transition: .15s ease-in-out;
}
   
.btn:hover {
	background-color: #19A7CEBB;
}
.btn:active {
	background-color: #19A7CEDD;
}
.btn:focus-visible {
	outline: 3px solid #19A7CE55;
}